#rojo{
height: 300px;    
width: 400px;
background-color: red;
font-size: 32px;
border: 10px solid orange;
padding: 40px;
margin: 50px;
color:yellow
}

#azul{
height: 300px;
width: 400px;
background-color: blue;
font-size: 32px;
border: 10px solid aquamarine;
padding: 40px;
margin: 50px;
}

#verde{
height: 300px;
width: 400px;
background-color: green;
font-size: 32px;
border: 10px solid darkgreen;
padding: 40px;
margin: 50px;
color:darkolivegreen
}
